<html>
<head>
<title>About Page</title>
</head>
<body>

<center><h1>About   Page</h1></center>
<center><h2><img src="https://cdn.pixabay.com/photo/2015/12/13/09/42/banner-1090835_960_720.jpg" alt="Smiley face" height="200" width="800"></h2></center>
<center><%= link_to 'Home', root_path %></center>
<center><table>
  <tr>
    <td><p>
    Este es un paragrafo<br>
    es el primero de los 2  <br>
    para que quede mas bonito todo</p>
    </td> <td>Este es el segundo paragrafo<br> es un poco mas largo que el anterior<br> por eso es el segundo paragrafo</td>
    
  </tr>
</table></center>

</body>
</html>


